{{!-- Subscribe success --}}
<div class="notification success subscribe float">
    <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M18 32.34L9.66 24l-2.83 2.83L18 38l24-24-2.83-2.83z"></path></svg></div>
    <div class="message">
        <h4 class="title">{{t "Welcome!"}}</h4>
        <p class="details">{{t "You've successfully subscribed to"}} {{@site.title}}</p>
    </div>
</div>

{{!-- Sign up success --}}
<div class="notification success signup float">
    <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M18 32.34L9.66 24l-2.83 2.83L18 38l24-24-2.83-2.83z"></path></svg></div>
    <div class="message">
        <h4 class="title">{{t "Great!"}}</h4>
        <p class="details">{{t "Next, complete checkout for full access to"}} {{@site.title}}</p>
    </div>
</div>

{{!-- Sign in success --}}
<div class="notification success signin float">
    <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M18 32.34L9.66 24l-2.83 2.83L18 38l24-24-2.83-2.83z"></path></svg></div>
    <div class="message">
        <h4 class="title">{{t "Welcome back!"}}</h4>
        <p class="details">{{t "You've successfully signed in"}}</p>
    </div>
</div>

{{!-- Checkout success --}}
<div class="notification success checkout float">
    <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M18 32.34L9.66 24l-2.83 2.83L18 38l24-24-2.83-2.83z"></path></svg></div>
    <div class="message">
        <h4 class="title">{{t "Success!"}}</h4>
        <p class="details">{{t "Your account is fully activated, you now have access to all content"}}</p>
    </div>
</div>