<div class="post-block post-nav">
    {{#prev_post}}
    <div class="prev">
        <span class="sup">{{t "Previous post"}}</span>
        <h4 class="title"><a href="{{url}}">{{title}}</a></h4>
    </div>
    {{/prev_post}}
    {{#next_post}}
    <div class="next">
        <span class="sup">{{t "Next post"}}</span>
        <h4 class="title"><a href="{{url}}">{{title}}</a></h4>
    </div>
    {{/next_post}}
</div>